body {background-color: #F4D04E !important; height:100vh;}
.blog-preview {justify-content: center;
    text-align: center;
    display: flex;
    height: 100vh;}
.card {border: #000 1px solid !important; box-shadow: 8px 8px 0px rgba(0, 0, 0, 1); border-radius: 20px !important;}
svg {border-radius: 10px;}
.btn-primary {background-color: #F4D04E !important; color: #000 !important; border:none !important; font-weight: bold !important;}
/* .date {} */
/* h3 {font-weight: bold;} */
.card-text {color:#6B6B6B;}
.learn-btn {text-align: left;
    justify-content: left;
    display: flex !important;
    max-width: fit-content;
    margin-top: 20px;}
.card-inner-body {text-align: left;}
.card-inner-body h3 {font-weight: bold; font-size: 1.25rem !important;}
.card-inner-body h3:hover {color:#F4D04E;}