body {background-color: hsl(0, 0%, 12%);}
.card {background-color: hsl(0, 0%, 20%);}
.user-name{font-weight: bold; color:#fff;}
.location {color:hsl(75, 94%, 57%);}
.social-button {background-color: hsl(0, 0%, 8%); color:#fff;}
.social-button:hover {color:hsl(0, 0%, 8%); background-color: hsl(75, 94%, 57%);}