body {background-color: hsl(0, 0%, 12%) !important; font-size:14px;}
.card {background-color: hsl(0, 0%, 20%) !important;}
.description {color:#fff;}
.user-name{font-weight: bold; color:#fff;}
.location {color:hsl(75, 94%, 57%);}
.social-button {background-color: hsl(0, 0%, 8%); color:#fff; border-radius:10px; border: none !important; padding:10px;}
.social-button:hover {color:hsl(0, 0%, 8%); background-color: hsl(75, 94%, 57%);}