body {background-color: #141414 !important; font-size:14px; height:100vh;}
.card-body-custom {background-color: #1f1f1f !important; max-width:400px !important; margin-top:250px !important; border-radius: 15px; padding-top:40px; padding-bottom:40px;}
.description {color:#fff;}
.user-image {border-radius: 50%; width:88px; height:88px; margin: 10px;}
.user-name{font-weight: bold; color:#fff;}
.location {color:hsl(75, 94%, 57%); font-weight: bold;}
.social-button {background-color: #333333; color:#fff; border-radius:10px; border: none !important; padding:10px; font-weight: bold; min-width: 90%;}
.social-button:hover {background-color: hsl(75, 94%, 57%); color:#1f1f1f !important;}
h1, .h1, h2, .h2{color:#fff;}
.user-name h1 {
    font-size: 2rem; 
    margin: 0.5rem 0; 
}

@media (max-width: 885px) {
    .card-body-custom {max-width: 400px !important;}
}
    